
h1, h2, h3 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 3px;
}
li h4 {
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 3px;
}